{{#each errorMessage}}
<div class="alert alert-danger" role="alert">
    {{mensagem}}
</div>
{{/each}}

{{#if success}}
<div class="alert alert-success" role="alert">
    Cadastro feito com sucesso!
</div>
{{/if}}